/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: "Roboto";
  color: #0f172a;
  font-size: 29px;
  font-weight: 500;
}
.card-container {
  height: 350px;
  width: 350px;
  background-color: #cffafe;
  text-align: center;
  border-radius: 10px;
}
.name {
  font-family: "Roboto";
  font-size: 15px;
  color: #1e293b;
}
.card-content {
  font-family: "Roboto";
  font-size: 15px;
  margin: 10px;
  color: #1e293b;
}
.card-images {
  height: 80px;
  width: 80px;
  margin: 20px;
}

@media (min-width: 768px) {
  .card-images {
    height: 120px;
    width: 120px;
    margin: 20px;
  }
  .card-container {
    height: 400px;
    width: 400px;
  }
}
